/* Container principal */
.consoles {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #f9f9f9;
}

/* Style du menu de navigation pour le lien Panier */
nav {
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}

nav a {
  font-size: 18px;
  color: #ffffff;
  background-color: #007bff;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a:hover {
  background-color: #0056b3;
}

/* Style des cartes de consoles */
.console {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

/* Effet au survol d'une console */
.console:hover {
  transform: translateY(-10px);
}

/* Image de la console */
.console img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
  object-fit: cover;
}

/* Titre de la console */
.console h3 {
  font-size: 18px;
  color: #333;
  margin: 15px 0;
}

/* Prix de la console */
.console p {
  font-size: 16px;
  color: #555;
  margin: 5px 0 15px;
}

/* Style du bouton "Voir Détails" */
.console button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.console button:hover {
  background-color: #218838;
}
